body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    min-height: 100vh;
    padding: 0; 
    margin: 0;
    background-color: #FCCA46;
    font-size: 18px;;  
}

a, a:visited, a:active {
    color: #41695d;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    padding-top: 20px;
}

/** Layout **/


.content {
    width: 80%;
    margin: 0 auto;
}

/** Navbar **/

nav {
    background-color: #233D4D;
    height: 60px;
}

.menu-list {    
    text-align: right;
}

.menu-item {
    list-style: none;    
    padding-top: 20px;
    display: inline-block;
    padding-left: 20px;
    text-transform: uppercase;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: underline;
}


/** About me section **/


.about-me {
    width: 80%;
}

.about-me-img {
    padding: 20px;
    width: 250px;
    border-radius: 50%;
    float: right;
}

/* Footer styles */

footer {
    height: 60px;
    padding: 20px 0 20px 0;
}

/* Layout */

.project-box {
    background-color: #f8dd91;
    min-height: 200px;
    margin: 10px;
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    border-radius: 15px;;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}
.project1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.project3 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.project5 {
    grid-column-start: 2;
    grid-column-end: 5;
}
